# Prepping the Model

In [1]:
!pip install pandas
!pip install numpy
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\desktop\github\internal-projectsupdated\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\admin\desktop\github\internal-projectsupdated\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.2.0-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------- ----------------------------- 3.4/12.6 MB 16.7 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.6 MB 18.1 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 18.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 17.2 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.0 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Requirement already satisfied: numpy in c:\users\admin\desktop\github\internal-projectsupdated\.venv\lib\site-packages (2.2.0)

In [3]:
df = pd.read_csv('C:/Users/Admin/Desktop/Github/Internal-ProjectsUpdated/Datasets/merged_df.csv')
df.head()

,month,town,flat_type,block_no,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,...,latitude,longitude,street_name,postal_code,nearest_mrt_station,nearest_mrt_distance_km,nearest_mall,nearest_mall_distance_km,min_dist_to_cbd,remaining_year
0,2017-01-01,ang mo kio,2 ROOM,406,11,44.0,Improved,1979-01-01,61 years 04 months,232000.0,...,1.362005,103.853880,ANG MO KIO AVENUE 10,560406,Ang Mo Kio,1.011433,AMK Hub,1.006211,8.237451,61
1,2017-01-01,ang mo kio,3 ROOM,108,2,67.0,New Generation,1978-01-01,60 years 07 months,250000.0,...,1.370966,103.838202,ANG MO KIO AVENUE 4,560108,Ang Mo Kio,1.270031,Broadway Plaza,0.867977,9.353331,60
2,2017-01-01,ang mo kio,3 ROOM,602,2,67.0,New Generation,1980-01-01,62 years 05 months,262000.0,...,1.380709,103.835368,ANG MO KIO AVENUE 5,560602,Yio Chu Kang,1.068607,Broadway Plaza,1.528020,10.474170,62
3,2017-01-01,ang mo kio,3 ROOM,465,5,68.0,New Generation,1980-01-01,62 years 01 month,265000.0,...,1.366201,103.857201,ANG MO KIO AVENUE 10,560465,Ang Mo Kio,0.947097,myVillage At Serangoon Garden,0.892903,8.721598,62
4,2017-01-01,ang mo kio,3 ROOM,601,2,67.0,New Generation,1980-01-01,62 years 05 months,265000.0,...,1.381041,103.835132,ANG MO KIO AVENUE 5,560601,Yio Chu Kang,1.091392,Broadway Plaza,1.571900,10.515177,62

In [4]:
df.dtypes

month                        object
town                         object
flat_type                    object
block_no                     object
storey_range                  int64
floor_area_sqm              float64
flat_model                   object
lease_commence_date          object
remaining_lease              object
resale_price                float64
address                      object
latitude                    float64
longitude                   float64
street_name                  object
postal_code                  object
nearest_mrt_station          object
nearest_mrt_distance_km     float64
nearest_mall                 object
nearest_mall_distance_km    float64
min_dist_to_cbd             float64
remaining_year                int64
dtype: object

In [5]:
df.isnull().sum()

month                       0
town                        0
flat_type                   0
block_no                    0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
remaining_lease             0
resale_price                0
address                     0
latitude                    0
longitude                   0
street_name                 0
postal_code                 0
nearest_mrt_station         0
nearest_mrt_distance_km     0
nearest_mall                0
nearest_mall_distance_km    0
min_dist_to_cbd             0
remaining_year              0
dtype: int64

In [6]:
df = df.rename(columns={'min_dist_to_cbd': 'cbd_dist', 'nearest_mrt_distance_km': 'min_dist_mrt', 'nearest_mall': 'min_dist_shopping','remaining_year':'lease_remain_years', 'storey_range':'storey_median'})
df.head()

,month,town,flat_type,block_no,storey_median,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,...,latitude,longitude,street_name,postal_code,nearest_mrt_station,min_dist_mrt,min_dist_shopping,nearest_mall_distance_km,cbd_dist,lease_remain_years
0,2017-01-01,ang mo kio,2 ROOM,406,11,44.0,Improved,1979-01-01,61 years 04 months,232000.0,...,1.362005,103.853880,ANG MO KIO AVENUE 10,560406,Ang Mo Kio,1.011433,AMK Hub,1.006211,8.237451,61
1,2017-01-01,ang mo kio,3 ROOM,108,2,67.0,New Generation,1978-01-01,60 years 07 months,250000.0,...,1.370966,103.838202,ANG MO KIO AVENUE 4,560108,Ang Mo Kio,1.270031,Broadway Plaza,0.867977,9.353331,60
2,2017-01-01,ang mo kio,3 ROOM,602,2,67.0,New Generation,1980-01-01,62 years 05 months,262000.0,...,1.380709,103.835368,ANG MO KIO AVENUE 5,560602,Yio Chu Kang,1.068607,Broadway Plaza,1.528020,10.474170,62
3,2017-01-01,ang mo kio,3 ROOM,465,5,68.0,New Generation,1980-01-01,62 years 01 month,265000.0,...,1.366201,103.857201,ANG MO KIO AVENUE 10,560465,Ang Mo Kio,0.947097,myVillage At Serangoon Garden,0.892903,8.721598,62
4,2017-01-01,ang mo kio,3 ROOM,601,2,67.0,New Generation,1980-01-01,62 years 05 months,265000.0,...,1.381041,103.835132,ANG MO KIO AVENUE 5,560601,Yio Chu Kang,1.091392,Broadway Plaza,1.571900,10.515177,62

In [ ]:
# df.to_csv('c:/Users/Admin/Desktop/individual_project/merged_df.csv', index = False)

In [ ]:
scope_df = df[['cbd_dist','min_dist_mrt','min_dist_shopping','floor_area_sqm','lease_remain_years','storey_median','resale_price']]
scope_df

# Handling Skewness in the Data

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# List of columns(continuous variables) for finding skewness
col = ['cbd_dist','min_dist_mrt','floor_area_sqm','lease_remain_years','storey_median','resale_price']

for i in col:
    plt.figure(figsize=(8, 6))  
    sns.boxplot(data=df, x=i)
    plt.title(f'Boxplot of {i}')
    plt.xlabel(i)
    plt.show()

In [ ]:
df1 = scope_df

In [ ]:
# Apply a logarithmic transformation to the required columns only.
# One need to apply it and check, in some cases it will handle the skewness, and in other cases it might not have a great 
                                                                # effect on the data, so no need to apply for that columns
    
df1['floor_area_sqm'] = np.log(df1['floor_area_sqm'])
sns.boxplot(x='floor_area_sqm', data=df1)
plt.show()

df1['storey_median'] = np.log(df1['storey_median'])
sns.boxplot(x='storey_median', data=df1)
plt.show()

df1['resale_price'] = np.log(df1['resale_price'])
sns.boxplot(x='resale_price', data=df1)
plt.show()

# Visualization among different columns using Correlation Matrix

In [ ]:
import seaborn as sns

corrMatrix = df1.corr()
plt.figure(figsize=(15, 10))
plt.title("Correlation Heatmap")
sns.heatmap(
    corrMatrix, 
    xticklabels=corrMatrix.columns,
    yticklabels=corrMatrix.columns,
    cmap='RdBu', 
    annot=True
)

# Encoding the data

In [ ]:
from sklearn.preprocessing import StandardScaler

X=df1[['cbd_dist','min_dist_mrt','floor_area_sqm','lease_remain_years','storey_median']]
y=df1['resale_price']

# Normalizing the encoded data
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [ ]:
test_dataframe = pd.DataFrame(X)
test_dataframe

# Splitting the Data for Training and Testing Purposes

In [ ]:
from sklearn.model_selection import train_test_split

# test and train split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

# Decision Tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV

# Decision Tree Regressor
dtr = DecisionTreeRegressor()

# hyperparameters
param_grid = {
    'max_depth': [2, 5, 10, 15, 20, 22],
    'min_samples_split': [2, 3, 4, 5],
    'min_samples_leaf': [2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20],
    'max_features': ['auto', 'sqrt', 'log2']
}

# gridsearchcv
grid_search = GridSearchCV(estimator=dtr, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)
print("Best hyperparameters:", grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

# evalution metrics
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
print(" ")
print('Mean squared error:', mse)
print('Mean Absolute Error', mae)
print('Root Mean squared error:', rmse)
print(" ")
print('R-squared:', r2)

# Testing Our Trained Model (Decision Tree Regressor)

In [ ]:
new_sample = np.array([[8740, 999, np.log(44), 55, np.log(11)]])
new_sample = scaler.transform(new_sample[:, :5])
new_pred = best_model.predict(new_sample)[0]
np.exp(new_pred)